$parrafoDesktop:18px;
$parrafoMobile:20px;
$h1Desktop:55px;
$h1Mobile:40px;

h1{font-size:$h1Desktop;
@media only screen and (max-width:767px){font-size:$h1Mobile;}}

h3{color:$azul;}

.informacion_alig_estilo{
    h3{
        text-align: center;
    }
    article{
        font-style: italic;
    }
}
$i: 0; 
@for $i from 1 through 6{
    @if $i == 1{
        h1 {text-align: center};
    }@else if $i == 4 {
        h#{$i} {text-align: center};
    }@else{
        h#{$i} {text-align: left};
    }
}
.Formulario{
    margin: 20px;
}
.textHeadprom{
    text-align: center;
}