<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <meta name="description" content="Tienda Plumex es un local de venta de articulos de limpieza y más!">
    <meta name="keywords" content="Tienda, Limpieza, Hogar, Perfumeria">
    <link rel="shortcut icon" href="../imagenes/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Plumex</title>
</head>
<body>
    <header>
            <img src="../imagenes/Header.png" class="Fondo-Header">
            <nav>
                <ul class="navFlex">
                  <li><a href="../index.html"> Inicio</a>
                  <li><a href="cosmetica.html">Cosmetica</a> </li>                     
                  <li><a href="cuidadocorporal.html">Personal</a></li>
                  <li><a href="articulosdelimpieza.html">Articulos de limpieza</a></li>
                  <li><a href="promociondelasemana.html">Promociones de la semana</a></li>
                </ul>            
              </nav>
    </header>
<hr>
    <h1 class="Titulo">Ubicación</h1>
    <p class="Info">Nuestra tienda queda ubicada en la zona de Muñiz, que pertenece al partido de San Miguel en la provincia de Buenos Aires.</p>

    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.1978961063355!2d-58.705791584771845!3d-34.54854448047388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0872d25483%3A0x952f9b10893450e8!2sASH%2C%20Av.%20Pres.%20Juan%20Domingo%20Per%C3%B3n%20787%2C%20B1662%20Mu%C3%B1iz%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1624337285471!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <p class="Info">Avenida Presidente Juan Domingo Perón 787</p>
    <hr>

<footer>
    <div class="Footer-Container">
        <div class="wrapper-container">
            <div class="section-links">
                <div class="section-Nosotros">
                    <h4>Nosotros</h4>
                    <div class="FooterBox">
                        <a href="https://www.facebook.com/plumex2021"><img src="../imagenes/fb.png"></a>
                        <a href="https://www.instagram.com/plumex2021/"><img src="../imagenes/instagram.png"></a>
                    </div>
                </div>
                <div class="section-ayuda">
                    <h4>¿Necesitas ayuda?</h4>
                    <a href="tel:+48521544">48521544</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="contacto.html">Contacto</a>
                </div>
                <div class="section-dondeEstamos">
                    <h4>¿Donde estamos?</h4>
                    <a href="ubicacion.html">Ubicación</a>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">Dirección General de Defensa y Protección al Consumidor, para consultas y/o denuncias <a href="views/contacto.html">ingrese aquí</a>
© Copyright 2021. Todos los derechos reservados | Plumex S.A.</div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>